body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(
    to right,
    rgba(114, 230, 246, 0.179),
    rgba(148, 122, 241, 0.873),
    rgb(77, 151, 248)
  )
}

button {
  cursor: pointer;
}

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
